@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Nunito", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #A6C8B8;
  }
  
  .orange {
    color: #ECE3CE;
  }
  
  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .container {
    max-width: 1300px;
    margin: 0px auto 0px auto;
    padding: 0px 40px;
  }
  @media (min-width: 1200px) and (max-width: 1441px) {
    .container {
      max-width: 1250px;
      padding: 0px 36px;
    }
  }
  @media (max-width: 767px) {
    .container {
      padding: 0px 30px;
    }
  }
  @media (max-width: 479px) {
    .container {
      padding: 0px 30px 0px 20px;
    }
  }
  
  .about-me {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-me .about-me-container {
    position: relative;
  }
  @media (max-width: 960px) {
    .about-me .about-me-container {
      padding-bottom: 100px;
    }
  }
  .about-me .about-me-container .about-me-title {
    font-size: 55px;
    color: #6C7D72;
    font-weight: 700;
  }
  @media (max-width: 500px) {
    .about-me .about-me-container .about-me-title {
      font-size: 30px;
    }
  }
  
  .about-me-flex-container {
    margin-top: -25px;
    margin-left: 150px;
    left: 100px;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 960px) {
    .about-me-flex-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 0px;
      gap: 50px;
    }
  }
  @media (max-width: 500px) {
    .about-me-flex-container {
      margin-top: -10px;
    }
  }
  .about-me-flex-container .about-me-image {
    position: relative;
    width: 400px;
    height: 400px;
  }
  @media (max-width: 500px) {
    .about-me-flex-container .about-me-image {
      width: 300px;
      height: 300px;
    }
  }
  .about-me-flex-container .about-me-image .back-div {
    position: absolute;
    bottom: 0;
    z-index: -3;
    background-color: #B4D3CC;
    width: 80%;
    height: 100%;
    border-radius: 25px;
  }
  .about-me-flex-container .about-me-image .black-image {
    z-index: -2;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 100%;
    width: 80%;
    background-color: #F9DEC9;
    border-radius: 25px;
  }
  .about-me-flex-container .about-me-image .black-image img {
    height: 100%;
  }
  .about-me-flex-container .about-me-image .main-image {
    width: 70%;
    height: 70%;
    overflow: hidden;
    position: absolute;
    left: 25%;
    top: 5%;
    border-radius: 25px;
    box-shadow: #000 0px 7px 50px 0px;
    transition: all 0.2s ease-out;
  }
  .about-me-flex-container .about-me-image .main-image:hover {
    transform-origin: top center;
    transform: scale(1.5);
    border-radius: 25px;
  }
  .about-me-flex-container .about-me-image .main-image img {
    transform-origin: center center;
    transform: scale(2);
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.2s ease-out;
  }
  .about-me-flex-container .about-me-image .main-image img:hover {
    transform: scale(1);
  }
  .about-me-flex-container .about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex: 0 0 40%;
  }
  @media (max-width: 960px) {
    .about-me-flex-container .about-me-content {
      flex-direction: row-reverse;
    }
  }
  .about-me-flex-container .about-me-content .logo {
    max-width: 300px;
  }
  .about-me-flex-container .about-me-content .logo img {
    filter: drop-shadow(0 0 10px #3A4D39);
  }
  @media (max-width: 500px) {
    .about-me-flex-container .about-me-content .logo img {
      transform: rotateZ(90deg);
    }
  }
  .about-me-flex-container .about-me-content .text {
    color: #fffaf0;
    font-weight: 600;
    font-size: 18px;
  }
  @media (max-width: 500px) {
    .about-me-flex-container .about-me-content .text {
      font-size: 16px;
    }
  }
  
  
  
  .mail-button {
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
  }
  .mail-button a {
    display: flex;
  }
  .mail-button img {
    -o-object-fit: contain;
       object-fit: contain;
    transition: all 0.2s ease-out;
  }
  
  
  .mail-button2 {
    background-color: #3A4D39;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 10px solid #3A4D39;
  }
  /*.mail-button2 img {
    filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
  }*/
  .mail-button2:hover {
    background-color: #ECE3CE;
    border: 10px solid #ECE3CE;
  }
  .mail-button2:hover img {
    filter: unset;
    transform: scale(1.5);
  }
  
  .portfolio-link {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .portfolio-link a{
    text-decoration: none;
    color: white;
  
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
/*Lieblingsbilder + Beschreibung*/
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 25px;
  }
  
  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mainImg {
    color: black;
    width: 55%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .text-blk.headingText {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    color: rgb(51, 51, 51);
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    width: 40%;
    margin: 0 0 0 0;
  }
  
  .text-blk.subHeadingText {
    color: rgb(102, 102, 102);
    font-size: 25px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  
  .text-blk.description {
    font-size: 25px;
    line-height: 34px;
    color: rgb(102, 102, 102);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }

  .explore {
    font-size: 20px;
    line-height: 28px;
    color: white;
    background-color: #F9DEC9;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #F9DEC9;
    border-right-color: #F9DEC9;
    border-bottom-color: #F9DEC9;
    border-left-color: #F9DEC9;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    border-radius: 13px;
  }

  .explore:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 235, 234);
    color: rgb(244, 152, 146);
  }
  
  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .responsive-container-block.Container.bottomContainer {
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    flex-direction: row-reverse;
    margin: 100px auto 50px auto;
  }
  
  .allText.aboveText {
    margin: 0 0 0 40px;
  }
  
  .allText.bottomText {
    margin: 0 40px 0 0;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      max-width: 850px;
    }
  
    .mainImg {
      width: 55%;
      height: auto;
    }
  
    .text-blk.description {
      font-size: 20px;
    }
  
    .allText {
      width: 40%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 20px;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  
    .text-blk.subHeadingText {
      font-size: 22px;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin: 80px auto 50px auto;
    }
  
    .responsive-container-block.Container {
      max-width: 830px;
    }
  
    .allText.aboveText {
      margin: 30px 0 0 40px;
    }
  
    .allText.bottomText {
      margin: 30px 40px 0 0;
    }
  }
  
  @media (max-width: 768px) {
    .mainImg {
      width: 90%;
    }
  
    .allText {
      width: 100%;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .responsive-container-block.Container {
      flex-direction: column;
      height: auto;
    }
  
    .text-blk.headingText {
      text-align: center;
    }
  
    .text-blk.subHeadingText {
      text-align: center;
      font-size: 25px;
    }
  
    .text-blk.description {
      text-align: center;
      font-size: 25px;
    }
  
    .allText {
      margin-top: 40px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .allText.aboveText {
      margin: 40px 0 0 0;
    }
  
    .responsive-container-block.Container {
      margin: 80px auto 50px auto;
    }
  
    .responsive-container-block.Container.bottomContainer {
      margin: 50px auto 50px auto;
    }
  
    .allText.bottomText {
      margin: 40px 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .responsive-container-block.Container {
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
      width: 100%;
      max-width: 100%;
    }
  
    .mainImg {
      width: 100%;
    }
  
    .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 25px;
      padding-bottom: 10px;
      padding-left: 25px;
    }
  
    .text-blk.subHeadingText {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .text-blk.description {
      font-size: 25px;
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .allText {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      width: 100%;
    }
  }
/*Responsive Lieblingsbilder*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

/*Galerie Styles*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00000099;
    
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 40%;
    max-width: 1200px;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/*Shop preview Cards*/

.container-shop-1 {
  width: 300px;
  height: 400px;
  display: inline-block;
  border-radius: 13px;
  top:0; right: 0; left: 0; bottom: 0;
  margin: 4%;
  text-align: left;
  background-image: url("../Logos\,Shop\,etc_Bilder/Shop Bild Hochkant.png");
  background-color: #000;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  
  -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
  }

  .container-shop-2 {
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 13px;
    top:0; right: 0; left: 0; bottom: 0;
    margin: 4%;
    text-align: left;
    background-image: url("../Logos\,Shop\,etc_Bilder/Shop Bild Quer.png");
    background-color: #000;
    background-color: black;
    background-size: cover;
    cursor: pointer;
    
    -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
    }

    .container-shop-3 {
      width: 300px;
      height: 400px;
      display: inline-block;
      border-radius: 13px;
      top:0; right: 0; left: 0; bottom: 0;
      margin: 4%;
      text-align: left;
      background-image: url("../Logos\,Shop\,etc_Bilder/t-shirt-1278404_1280.jpg");
      background-color: #000;
      background-color: black;
      background-size: cover;
      cursor: pointer;
      
      -webkit-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
      }

.overlay {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  
  background: rgba(77, 77, 77, .9);
  color: #FEF5DF;
  opacity: 0;
  transition: all 0.5s;
  
  font-family: 'Playfair Display', serif;
}


.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  
  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;
    margin-left: 0%;
    
    border: none;
    border-bottom: solid 2px #FEF5DF;
    
    position: absolute;
    bottom: 0; left:20px;
    
    transition: all .5s;
  }
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;  
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  .old {
    text-decoration: line-through;
    color: lighten(rgb(77, 77, 77),40%);
  }
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  i {
    font-size: 16px;
  }
  span {
    margin-left: 10px;
  }
}

.container-shop-1:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(40px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

.container-shop-2:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(40px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

.container-shop-3:hover .overlay {
  opacity: 1;
  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(40px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

#outer{
    text-align: center;
}

hr {
    margin-left: 8%;
    margin-right: 8%;
}